body {
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 15%),
        linear-gradient(to bottom, rgba(0,0,0,0) 0%, #0000009c 600px), 
        url('https://lochaydeoliveira.github.io/blaze-games-styles/assets/banners/banner-bg-cart.png') no-repeat top center !important;
    
    background-size: cover !important; 
    background-color: #000000 !important;
    background-attachment: scroll !important;
    
    color: #ffffff !important;
    font-family: 'Inter', sans-serif !important;
}

body::before {
    content: "PAGAMENTO VIA PIX ENVIAMOS EM 24H";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, #000000, #1c1d20, #ec651a, #000000);
    background-size: 400% 400%;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    animation: gradient-flow 8s ease infinite, slide-ads 12s infinite;
}

header.clearfix, 
.inner-body, 
.container, 
.holder-cols-checkout {
    background: transparent !important;
    border: none !important;
    box-shadow: none!important;
}

.clearfix .cart-header {
  display: none!important;
}

.visible-desktop-only {
    display: none!important;   
}

.form-group .label-control {
    color: #d1d1d1!important;
}

.black-70 {
    color: #ffffff !important;
}

.black-80 {
    color: #8d7a7a !important;
}

.holder-cols-checkout {
    margin-top: 80px !important; 
    position: relative;
    z-index: 10;
}

.holder-total-cart .table-total .price {
    color: var(--cart-total-color)!important;
}

.holder-total-cart {
    background: #1c1d20!important;
    border: 1px solid #ec631a71;
}


.holder-cols-checkout .box-checkout,
.holder-cols-checkout .cart-resume,
.item-cart {
    background: #1c1d20 !important;
    border: 1px solid #333 !important;
    border-radius: 10px !important;
    box-shadow: 0 15px 50px rgba(0,0,0,0.9) !important;
}


.ctx-title, .title, .product-name, .price, .label-cart, 
.box-resume .detail .label, .box-resume .detail .value,
.cart-resume .detail, span, p, .desc, .f12, .f14 {
    color: #ffffff !important;
    opacity: 1 !important;
}

.holder-cols-checkout .discount-info .discount-info-description p .discount-percentage {
    color: var(--cart-total-color)!important;
}

.holder-cols-checkout .discount-info .discount-info-description p {
    color: #fdfdfd!important;
}


@media (max-width: 500px) {
.checkout-step.active .info {
    color: #fff!important;
 }

.checkout-step .info {
    color: #d9d9d9!important;
 }
}

.holder-cols-checkout .box-checkout.active .box-title .holder-number {
    color: var(--step-tag-txt-color)!important;
}

.table-cart .table-cart-head {
    color: #ffffff!important;
}

.holder-cols-checkout .discount-info {
    border: dashed 2px #ec651a!important;
    background: none!important;
}

.icon-pix-store-negative {
    background: url(https://lochaydeoliveira.github.io/blaze-games-styles/assets/banners/icone-pix-branco.png) no-repeat;
    background-size: contain;
    height: 32px!important;
    width: 32px!important;
}

.input-group .input-group-addon {
    color: #000!important;
}


.total-price, .cart_total, .detail.total .value, .holder-number {
    color: #ec651a !important;
    font-weight: 800 !important;
}

.btn-primary, .btn-submit-cart {
    background-color: #ec651a !important;
    border: none !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


header .pull-right.btn-primary, 
header .item-security {
    display: none !important;
}


footer {
    background-color: #000000 !important;
    border-top: 1px solid #ec651a75 !important;
}

span.f11.black-50::after {
    content: ' Atendimento via WhatsApp: (88) 99448-0369 \A Segunda à Sábado das 08:00 às 18:00 \A\A Caucaia - CE, CEP 61600-970 \A CNPJ: 44.753.619/0001-42 \A ©️ Todos os direitos reservados.';
    display: block;
    margin-top: 15px;
    white-space: pre-wrap;
    line-height: 1.8;
}


@keyframes gradient-flow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes slide-ads {
    0%, 48% { content: "PAGAMENTO VIA PIX ENVIAMOS EM 24H"; }
    52%, 100% { content: "ENTREGA GARANTIDA EM TODO O BRASIL"; }
}


@media (max-width: 768px) {
    body {
        background-size: auto 400px, 100% auto, auto 400px !important; 
    }
}