body {
    background-color: #f8f2ed!important;
    background-attachment: scroll !important;
    color: #ffffff !important;
}

body::before {
    content: "PAGAMENTO VIA PIX ENVIAMOS EM 24H";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, #000000, #1c1d20, #ff8f00, #000000);
    background-size: 400% 400%;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    animation: gradient-flow 8s ease infinite, slide-ads 12s infinite;
}

@media (max-width: 1060px) {
    .holder-cols-checkout .box-checkout.box-resume .box-content>div:not(.holder-container-resume,.--mobile-header,.--with-preview):after {
        right: 0!important;
        background: none!important;
    }
}
/* header.clearfix, 
.inner-body, 
.container, 
.holder-cols-checkout {
    background: transparent !important;
    border: none !important;
    box-shadow: none!important;
} */

.clearfix .cart-header {
  display: none!important;
}

.holder-cols-checkout .box-checkout {
    margin: 2rem 0 auto!important;
}

.visible-desktop-only {
    display: none!important;   
}

.form-group .label-control {
    color: #2b2b2b!important;
}

.black-70 {
    color: #ffffff !important;
}

.black-80 {
    color: #8d7a7a !important;
}

.holder-cols-checkout {
    margin-top: 80px !important; 
    position: relative;
    z-index: 10;
}

.holder-total-cart .table-total .price {
    color: var(--cart-total-color)!important;
}

.holder-total-cart {
    background: #1c1d20!important;
    border: 1px solid #ec631a71;
}


.holder-cols-checkout .box-checkout,
.holder-cols-checkout .cart-resume,
.item-cart {
    background: #ffffff !important;
    border: none!important;
    border-radius: 10px !important;
    box-shadow: 0 15px 50px rgb(231 216 203 / 84%) !important;
}


.ctx-title, .title, .product-name, .price, .label-cart, 
.box-resume .detail .label, .box-resume .detail .value,
.cart-resume .detail, span, p, .desc, .f12, .f14 {
    color: #212529bf!important;
    opacity: 1 !important;
}

.holder-cols-checkout .discount-info .discount-info-description p .discount-percentage {
    color: #479d95 !important;
}

.holder-cols-checkout .discount-info .discount-info-description p {
    color: #000000!important;
}


@media (max-width: 500px) {
.checkout-step.active .info {
    color: #585b5e !important;
    font-size: 15px;
 }

.checkout-step .info {
    color: #000000!important;
 }
}

.holder-cols-checkout .box-checkout.active .box-title .holder-number {
    color: var(--step-tag-txt-color)!important;
}

.table-cart .table-cart-head {
    color: #ffffff!important;
}

.holder-cols-checkout .discount-info {
    border: dashed 2px #42c3b7 !important;
    background: #e4f9f794 !important;
}

.icon-pix-store-negative {
    background: url(https://lochaydeoliveira.github.io/blaze-games-styles/assets/banners/icone-pix-branco.png) no-repeat;
    background-size: contain;
    height: 32px!important;
    width: 32px!important;
}

.input-group .input-group-addon {
    color: #000!important;
}


.total-price, .cart_total, .detail.total .value, .holder-number {
    color: #ff8f00 !important;
    font-weight: 800 !important;
}

.btn-primary, .btn-submit-cart {
    background-color: #ff8f00 !important;
    border: none !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


header .pull-right.btn-primary, 
header .item-security {
    display: none !important;
}


footer {
    background-color: #000000 !important;
    border-top: 1px solid #ff8f0075 !important;
}

span.f11.black-50::after {
    content: ' Atendimento via WhatsApp: (88) 99448-0369 \A Segunda à Sábado das 08:00 às 18:00 \A\A Caucaia - CE, CEP 61600-970 \A CNPJ: 44.753.619/0001-42 \A ©️ Todos os direitos reservados.';
    display: block;
    margin-top: 15px;
    white-space: pre-wrap;
    line-height: 1.8;
}

.-whatsapp {
    color: #c9c9c9 !important;
}

.-email {
     color: #c9c9c9 !important;   
}

.-email span {
     color: #c9c9c9 !important;   
}

@keyframes gradient-flow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes slide-ads {
    0%, 48% { content: "DESIGN QUE VENDE"; }
    52%, 100% { content: "IDENTIDADE VISUAL EXCLUSIVA"; }
}


@media (max-width: 768px) {
    body {
        background-size: auto 400px, 100% auto, auto 400px !important; 
    }
}